*, *:after, *:before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

html {
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #111;
  background-color: #fff;
  min-width: 320px; }

body.fixed {
  overflow: hidden; }

a {
  text-decoration: none;
  color: #111;
  outline: none; }

a:hover {
  outline: none; }

body.locked {
  overflow: hidden; }

.wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.page-content {
  flex: 1; }

.tab-pane {
  display: block;
  height: 0;
  overflow: hidden;
  text-align: justify; }

.tab-pane.current {
  height: auto;
  overflow: visible; }

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 30px;
  list-style: none;
  padding: 0 15px;
  gap: 12px; }

.tab-link {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 10px;
  white-space: nowrap;
  border: 1px solid #2f72da; }

.tab-link.current {
  background: #2f72da;
  color: #fff; }

.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-bottom: 50px; }

.book-item {
  margin-bottom: 20px;
  background-color: #dee1e5;
  border-radius: 10px;
  padding: 16px; }
  .book-item .book-img {
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer; }
    .book-item .book-img:hover {
      border-color: #000; }
      .book-item .book-img:hover img {
        transform: scale(1.03); }
  .book-item img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    border-radius: 3px;
    transition: all 0.3s cubic-bezier(0.1, 0.2, 0.7, 1); }

.text-center {
  text-align: center;
  font-size: 20px; }

.zoom-box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 10000; }

.zoom-box.visible {
  display: flex; }

.zoom-backdrop {
  width: 100%;
  height: 1000%;
  background: rgba(37, 42, 56, 0.95);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0; }

.zoom-box .zoom-img {
  opacity: 0;
  transform: scale(0.5); }

.zoom-close {
  position: absolute;
  width: 42px;
  height: 42px;
  background-color: #111;
  top: 10px;
  right: 10px;
  z-index: 99;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }

.zoom-close svg {
  fill: #fff; }

.zoom-img img {
  position: relative;
  z-index: 1;
  display: block;
  max-width: 92vw;
  max-height: 92vh; }

.zoom-box.visible .zoom-img {
  animation: animatepopup 0.3s cubic-bezier(0.4, 0.2, 0.4, 1) forwards; }

@keyframes animatepopup {
  to {
    opacity: 1;
    transform: scale(1); } }

.book-title {
  font-size: 15px;
  margin-top: 16px; }

.book-title div {
  text-align: left; }

.book-title b {
  font-size: 17px; }

@media (max-width: 1799px) {
  .book-item .book-img {
    height: 360px; } }

@media (max-width: 1399px) {
  .book-item .book-img {
    height: 320px; }
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); } }

@media (max-width: 767px) {
  .grid-container {
    display: block; }
  .book-title {
    display: block; }
  .book-item {
    margin-bottom: 40px; }
    .book-item .book-img {
      height: auto;
      padding: 0;
      margin-bottom: 10px; }
  .tab-pane .text-center > h1 {
    font-size: 22px !important; }
  .tab-link {
    font-size: 16px; } }

@media (max-width: 575px) {
  .tab-link {
    font-size: 15px;
    padding: 10px;
    flex-grow: 1; }
  .tabs {
    gap: 8px; } }

@media (max-width: 375px) {
  .tab-link {
    font-size: 14px; }
  .tabs {
    gap: 8px; }
  .container.text-center {
    font-size: 18px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

@media (min-width: 1400px) {
  .container {
    max-width: 1320px; } }

@media (min-width: 1800px) {
  .container {
    max-width: 1680px; } }
